@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// PARA OCUPAR EL MIXIN SOLO HAY QUE PONER EN LA CLASE QUE SE QUIERE OCUPAR @INCLUDE FLEX-COLUMN-CENTER